.profile-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  .avatar-container {
    margin-bottom: 20px;
  }
  
  .avatar-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  #avatar_button {
    background-color: rgb(35, 29, 124);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #avatar_button:hover {
    background-color: #492192;
  }
  #main {
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    background-color: #4e5daf;
    box-sizing: border-box; /* Include padding in height/width calculations */
}
  