body {
    font-family: Arial, sans-serif;
    background-color: #3b4465;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
}

.container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

h2, h3 {
    text-align: center;
    color: #ffffff;
    margin: 10px 0;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

input[type="text"], input[type="email"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    margin-top: 10px;
}

.error-message {
    color: #e74c3c;
}

.success-message {
    color: #2ecc71;
}

/* Responsive Styles */
@media (max-width: 600px) {
    form {
        padding: 15px;
    }

    h2, h3 {
        font-size: 1.2em;
        margin: 5px 0;
    }

    button {
        font-size: 14px;
        padding: 8px;
    }

    input[type="text"], input[type="email"] {
        padding: 8px;
    }
}