<!-- index.html -->
{% extends 'base.html' %}

{% block content %}
{% if message %}
    {% set words = message.split(' ') %}
    {% set error = words[0] %}
    {% if error == 'Error' %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong> {{message}} </strong>
            
        </div>
        
    {% else %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong> {{message}} </strong>
        
    </div>

        
    {% endif %}
    
{% endif %}

<section id="main-part">
    <div class="sentence">
        <h1>Your Gateway to Empowering Human Interaction in the Digital Realm, Providing a Platform Where
            Chatting and Video Meetings Converge for Enhanced Connectivity</h1>
        <p>As part of our commitment to accessibility, Linkup provides comprehensive documentation and resources for
            developers. Our goal is to empower you to integrate and extend our platform to meet your specific business needs
        </p>
    </div>
</section>
{% endblock %}
